.bg-color {
  transition: transition(background-color);

  &::before {  //top of half split bg
    content: '';
    height: 281px;
    position: fixed;
    top: 0;
    transition: transition(background-color);
    width: 100%;
  }

  @for $i from 1 through $section-count {
    &.-section-#{$i} {
      background-color: color(bg-#{$i}-bottom);

      &::before {
        background-color: color(bg-#{$i}-top);
      }
    }
  }

  .wrapper {
    position: relative;
    z-index: 1;
  }
}
