body {
  background-color: color(bg-1-bottom);
  position: relative;
  transition: transition(background-color);

  &::before {  //top of half split bg
    @include pseudo-elem;
    background-color: color(bg-1-top);
    height: 281px;
    top: 0;
    z-index: -1;
  }

  @for $i from 1 through $section-count {
    &.bg-#{$i} {
      background-color: color(bg-#{$i}-bottom);

      &::before {
        background-color: color(bg-#{$i}-top);
      }
    }
  }
}

