$section-top-padding: 125px;

.section {
  padding-top: $section-top-padding;

  @include breakpoint(large-desktop-up) {
    display: flex;
    justify-content: space-between;
  }
}

// CONTENT

.section__content {
  height: 100%;
  position: sticky;
  top: $section-top-padding;

  @include breakpoint(large-desktop-up) {
    flex-basis: 45%;
    order: 2;
  }
}

// CONTENT - containers

.text-container {
  margin: 0 auto rem(50);
  max-width: 550px;
  padding-left: rem(40);
}

.toggle-container {
  align-items: center;
  bottom: 0;
  display: flex;
  flex-wrap: wrap;
  font-size: rem(18);
  justify-content: center;
  left: 0;
  margin-bottom: rem(30);
  padding: 0 rem(20);
  position: fixed;
  width: 100%;

  .section__content__subheading {
    @include breakpoint(medium-desktop-down) {
      padding-left: rem(40);
      position: relative;

      &::before {
        content: url('../images/arrow.svg');
        position: absolute;
        left: 0;
      }
    }

    @media screen and (min-width: 577px) and (max-width: 1279px) {
      margin-right: 4%;
    }
  }
}

// CONTENT - elements

.section__content__heading {
  font-size: rem(30);
  margin-bottom: rem(40);
  position: relative;

  span {
    @include font-family-bold;
    font-size: rem(14);
    left: rem(-40);
    position: absolute;
    top: 0.35em;


    @include breakpoint(large-desktop-up) {
      display: block;
      margin-bottom: rem(5);
    }
  }
}

.section__content__subheading {
  @include font-family-medium;
  margin-bottom: 0.5rem;
  text-transform: uppercase;

  &.-top {
    &::after {
      content: ' Microcosm';
    }

    &.-browserView {
      &::after {
        content: ' the browser';
      }
    }
  }

  &.-bottom {
    &::after {
      content: ' the browser...';
    }

    &.-browserView {
      &::after {
        content: ' Microcosm...';
      }
    }
  }
}

.section__content__text {
  font-size: rem(18);
  line-height: rem(27);
}

.section__toggle-btn {
  border-radius: 10px;
  height: 57px;
  text-transform: uppercase;
  width: 217px;

  &::before {
    content: 'Browser View';
  }

  &.-browserView {
    &::before {
      content: 'Microcosm View';
    }
  }
}


// GRAPHIC

.section__graphic {
  @include breakpoint(large-desktop-up) {
    flex-basis: 600px;
  }
}

.section__graphic__figure {
  height: 100%;
  margin: 0 auto 50vh;
  max-height: 600px;
  max-width: 600px;
  position: relative;
  width: 100%;
  z-index: 1;
}
